node_modules
.git
.husky
dist
apps/web/dist
apps/server/dist
packages/shared/dist
*.log
.env
.env.local
.env.production
coverage
.vscode
.idea
docs
scripts
*.md
!packages/shared/package.json
!apps/server/package.json
!apps/web/package.json
